/* * {
    border: 1px solid blue;
} */

body {
    background-color: skyblue;
}

form {
    padding: 10px;
}

input {
    margin: 10px;
}

label {
    margin-left: 30px;
}

img {
    width: 70vw;
}

button {
    width: 100px;
    margin: 10px;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-transform: uppercase;
}

.navigation {
    padding: 10px;
}