/* * {
    border: 1px solid blue;
} */

body {
    background-color: skyblue;
}

form {
    padding: 10px;
}

input {
    margin: 10px;
}

img {
    width: 50vw;
}

button {
    width: 100px;
    margin: 10px;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-transform: uppercase;
}

.navigation {
    padding: 10px;
}

.input-label {
    margin-left: 30px;
}

.imgContainer {
    position: relative;
}

.meme-text {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 4px 4px 14px black;
}

.text1 {
    top: 20px;
    left: 28vw;
}

.text2 {
    top: 450px;
    left: 35vw;
}